<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zergclan.wormhole.console.infra.repository.mapper.TaskExecutionLogMapper">
    <resultMap id="TaskExecutionLogResultMap" type="com.zergclan.wormhole.console.application.domain.log.TaskExecutionLog">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="plan_batch" property="planBatch" jdbcType="BIGINT"/>
        <result column="task_batch" property="taskBatch" jdbcType="BIGINT"/>
        <result column="task_identifier" property="taskIdentifier" jdbcType="VARCHAR"/>
        <result column="execution_step" property="executionStep" jdbcType="VARCHAR"/>
        <result column="execution_state" property="executionState" jdbcType="VARCHAR"/>
        <result column="remaining_row" property="remainingRow" jdbcType="INTEGER"/>
        <result column="create_timestamp" property="createTimestamp" jdbcType="BIGINT"/>
        <result column="end_timestamp" property="endTimestamp" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="table_name">
        task_execution_log
    </sql>

    <sql id="id">
        id = #{id,jdbcType=INTEGER}
    </sql>

    <sql id="limit">
        LIMIT #{start}, #{size}
    </sql>

    <sql id="insert_columns">
        plan_batch, task_batch, task_identifier, execution_step, execution_state, remaining_row, create_timestamp, end_timestamp
    </sql>

    <sql id="insert_values">
        #{planBatch,jdbcType=BIGINT}, #{taskBatch,jdbcType=BIGINT}, #{taskIdentifier,jdbcType=VARCHAR}, #{executionStep,jdbcType=VARCHAR},
        #{executionState,jdbcType=VARCHAR}, #{remainingRow,jdbcType=INTEGER}, #{createTimestamp,jdbcType=BIGINT}, #{endTimestamp,jdbcType=BIGINT}
    </sql>

    <sql id="update_columns">
        <if test="null != planBatch">
            plan_batch = #{planBatch,jdbcType=BIGINT},
        </if>
        <if test="null != taskBatch">
            task_batch = #{taskBatch,jdbcType=BIGINT},
        </if>
        <if test="null != taskIdentifier">
            task_identifier = #{taskIdentifier,jdbcType=VARCHAR},
        </if>
        <if test="null != executionStep">
            execution_step = #{executionStep,jdbcType=VARCHAR},
        </if>
        <if test="null != executionState">
            execution_state = #{executionState,jdbcType=VARCHAR},
        </if>
        <if test="null != remainingRow">
            remaining_row = #{remainingRow,jdbcType=INTEGER},
        </if>
        <if test="null != createTimestamp">
            create_timestamp = #{createTimestamp,jdbcType=BIGINT},
        </if>
        <if test="null != endTimestamp">
            end_timestamp = #{endTimestamp,jdbcType=BIGINT},
        </if>
    </sql>

    <sql id="select_columns">
        id, plan_batch, task_batch, task_identifier, execution_step, execution_state, remaining_row, create_timestamp, end_timestamp
    </sql>

    <sql id="select_count">
        COUNT(id) AS total
    </sql>

    <sql id="where_fuzzy_query">
        <if test="null != planBatch">
            OR plan_batch = #{planBatch,jdbcType=BIGINT}
        </if>
        <if test="null != taskBatch">
            OR task_batch = #{taskBatch,jdbcType=BIGINT}
        </if>
        <if test="null != taskIdentifier">
            OR task_identifier LIKE CONCAT('%', #{taskIdentifier,jdbcType=VARCHAR}, '%')
        </if>
        <if test="null != executionState">
            OR execution_state = #{executionState,jdbcType=VARCHAR}
        </if>
    </sql>

    <sql id="where_fuzzy_query_page">
        <if test="null != query.planBatch">
            OR plan_batch = #{query.planBatch,jdbcType=BIGINT}
        </if>
        <if test="null != query.taskBatch">
            OR task_batch = #{query.taskBatch,jdbcType=BIGINT}
        </if>
        <if test="null != query.taskIdentifier">
            OR task_identifier LIKE CONCAT('%', #{query.taskIdentifier,jdbcType=VARCHAR}, '%')
        </if>
        <if test="null != query.executionState">
            OR execution_state = #{query.executionState,jdbcType=VARCHAR}
        </if>
    </sql>

    <insert id="insert" parameterType="com.zergclan.wormhole.console.application.domain.log.TaskExecutionLog">
        INSERT INTO <include refid="table_name"/> (<include refid="insert_columns"/>) VALUES (<include refid="insert_values"/>)
    </insert>

    <update id="updateById" parameterType="com.zergclan.wormhole.console.application.domain.log.TaskExecutionLog">
        UPDATE <include refid="table_name"/>
        <set>
            <include refid="update_columns"/>
        </set>
        WHERE <include refid="id"/>
    </update>

    <select id="getOne" parameterType="com.zergclan.wormhole.console.application.domain.log.TaskExecutionLog"  resultMap="TaskExecutionLogResultMap">
        SELECT <include refid="select_columns"/> FROM <include refid="table_name"/>
        <where>
            <include refid="where_fuzzy_query"/>
        </where>
    </select>

    <select id="listByQuery" parameterType="com.zergclan.wormhole.console.application.domain.log.TaskExecutionLog" resultMap="TaskExecutionLogResultMap">
        SELECT <include refid="select_columns"/> FROM <include refid="table_name"/>
        <where>
            <include refid="where_fuzzy_query"/>
        </where>
    </select>

    <select id="countByPage" parameterType="com.zergclan.wormhole.console.application.domain.log.TaskExecutionLog" resultType="java.lang.Integer">
        SELECT <include refid="select_count"/> FROM <include refid="table_name"/>
        <where>
            <include refid="where_fuzzy_query"/>
        </where>
    </select>

    <select id="page" parameterType="com.zergclan.wormhole.console.api.vo.PageQuery" resultMap="TaskExecutionLogResultMap">
        SELECT <include refid="select_columns"/> FROM <include refid="table_name"/>
        <where>
            <include refid="where_fuzzy_query_page"/>
        </where>
        <include refid="limit"/>
    </select>
</mapper>