<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zergclan.wormhole.console.infra.repository.mapper.UserInfoMapper">
    <resultMap id="UserInfoResultMap" type="com.zergclan.wormhole.console.application.domain.entity.UserInfo">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="is_enable" property="enable" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table_name">
        user_info
    </sql>

    <sql id="id">
        id = #{id,jdbcType=INTEGER}
    </sql>

    <sql id="limit">
        LIMIT #{start}, #{size}
    </sql>

    <sql id="insert_columns">
        username, password, email, is_enable, create_time, modify_time
    </sql>

    <sql id="insert_values">
        #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
        #{enable,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
    </sql>

    <sql id="insert_batch_values">
        #{batch.username,jdbcType=VARCHAR}, #{batch.password,jdbcType=VARCHAR}, #{batch.email,jdbcType=VARCHAR},
        #{batch.enable,jdbcType=INTEGER}, #{batch.createTime,jdbcType=TIMESTAMP}, #{batch.modifyTime,jdbcType=TIMESTAMP}
    </sql>

    <sql id="update_columns">
        <if test="null != username">
            username = #{username,jdbcType=VARCHAR},
        </if>
        <if test="null != password">
            password = #{password,jdbcType=VARCHAR},
        </if>
        <if test="null != email">
            email = #{email,jdbcType=VARCHAR},
        </if>
        <if test="null != enable">
            is_enable = #{enable,jdbcType=INTEGER},
        </if>
    </sql>

    <sql id="select_columns">
        id, username, password, email, is_enable, create_time, modify_time
    </sql>

    <sql id="select_count">
        COUNT(id) AS total
    </sql>

    <sql id="where_enable">
        <if test="null != enable">
            AND is_enable = #{enable,jdbcType=INTEGER}
        </if>
    </sql>

    <sql id="where_fuzzy_query">
        <if test="null != username">
            OR username LIKE CONCAT('%', #{username,jdbcType=VARCHAR}, '%')
        </if>
        <if test="null != email">
            OR email LIKE CONCAT('%', #{email,jdbcType=VARCHAR}, '%')
        </if>
    </sql>

    <sql id="where_fuzzy_query_page">
        <if test="null != query.username">
            OR username LIKE CONCAT('%', #{query.username,jdbcType=VARCHAR}, '%')
        </if>
        <if test="null != query.email">
            OR email LIKE CONCAT('%', #{query.email,jdbcType=VARCHAR}, '%')
        </if>
    </sql>

    <insert id="insert" parameterType="com.zergclan.wormhole.console.application.domain.entity.UserInfo">
        INSERT INTO <include refid="table_name"/> (<include refid="insert_columns"/>) VALUES (<include refid="insert_values"/>)
    </insert>

    <insert id="insertBatch" parameterType="java.util.Collection">
        INSERT INTO <include refid="table_name"/> (<include refid="insert_columns"/>)
        VALUES
        <foreach collection="list" item="batch" separator=",">
            (<include refid="insert_batch_values"/>)
        </foreach>
    </insert>

    <update id="updateById" parameterType="com.zergclan.wormhole.console.application.domain.entity.UserInfo">
        UPDATE <include refid="table_name"/>
        <set>
            <include refid="update_columns"/>
            modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        </set>
        <where>
            <include refid="id"/>
        </where>
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM <include refid="table_name"/> WHERE <include refid="id"/>
    </delete>

    <select id="get" parameterType="java.lang.Integer" resultMap="UserInfoResultMap">
        SELECT <include refid="select_columns"/> FROM <include refid="table_name"/> WHERE <include refid="id"/>
    </select>

    <select id="getOne" parameterType="com.zergclan.wormhole.console.application.domain.entity.UserInfo" resultMap="UserInfoResultMap">
        SELECT <include refid="select_columns"/> FROM <include refid="table_name"/>
        <where>
            <if test="null != username">
                AND username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="null != password">
                AND password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="null != email">
                AND email = #{email,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="listAll" resultMap="UserInfoResultMap">
        SELECT <include refid="select_columns"/> FROM <include refid="table_name"/>
    </select>

    <select id="countAll" resultType="java.lang.Integer">
        SELECT <include refid="select_count"/> FROM <include refid="table_name"/>
    </select>

    <select id="listByQuery" parameterType="com.zergclan.wormhole.console.application.domain.entity.UserInfo" resultMap="UserInfoResultMap">
        SELECT <include refid="select_columns"/> FROM <include refid="table_name"/>
        <where>
            <include refid="where_fuzzy_query"/>
        </where>
    </select>

    <select id="listInIds" parameterType="java.util.Collection" resultType="java.lang.Integer">
        SELECT <include refid="select_columns"/> FROM <include refid="table_name"/>
        WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id,jdbcType=INTEGER}
        </foreach>
    </select>

    <select id="countByPage" parameterType="com.zergclan.wormhole.console.application.domain.entity.UserInfo" resultType="java.lang.Integer">
        SELECT <include refid="select_count"/> FROM <include refid="table_name"/>
        <where>
            <include refid="where_fuzzy_query"/>
        </where>
    </select>

    <select id="page" parameterType="com.zergclan.wormhole.console.api.vo.PageQuery" resultMap="UserInfoResultMap">
        SELECT <include refid="select_columns"/> FROM <include refid="table_name"/>
        <where>
            <include refid="where_fuzzy_query_page"/>
        </where>
        <include refid="limit"/>
    </select>
</mapper>
